In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
executable_path = {"executable_path": "C:/chromedrv/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [ ]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

## Assign variables to Latest News Title and Paragraph Text

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
sidebar = soup.find('div', class_='content_title')
categories = sidebar.find_all('a')

for category in categories:
    news_title = category.text.strip()
news_title

In [ ]:
sidebar = soup.find('div', class_='article_teaser_body')
news_p = sidebar.text.strip()
news_p

In [ ]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [ ]:
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=0.5)
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [ ]:
try:
    slide_elem = news_soup.select_one("ul.item_list li.slide")
    news_title = slide_elem.find("div", class_="content_title").get_text()
    news_p = slide_elem.find("div", class_="article_teaser_body").get_text()
except AttributeError:
    print("none")
print(news_title)
print(news_p)

## JPL Mars Space Images

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [ ]:
browser.click_link_by_partial_text('more info')

In [ ]:
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [ ]:
img_url_rel = img_soup.select_one('figure.lede a img').get('src')

In [ ]:
img_url_rel

In [ ]:
featured_image_url = 'https://www.jpl.nasa.gov' + img_url_rel
featured_image_url

## Mars Weather

In [ ]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [ ]:
html = browser.html
mars_weather_soup = BeautifulSoup(html, 'html.parser')

In [ ]:
#using attrs

In [ ]:
mars_weather_tweet = mars_weather_soup.find('div', attrs={"class": "tweet", "data-name" : "Mars Weather"})

In [ ]:
mars_weather = mars_weather_tweet.find('p', 'tweet-text').get_text()

In [ ]:
mars_weather

In [ ]:
#using class

In [ ]:
sidebar = mars_weather_soup.find('div', class_='js-tweet-text-container')

categories = sidebar.find('p')

In [ ]:
categories.get_text()

## Mars Facts

In [3]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [4]:
html = browser.html
mars_facts_soup = BeautifulSoup(html, 'html.parser')

In [5]:
sidebar = mars_facts_soup.find('div', class_='entry-content clearfix')
categories = sidebar.find_all('li')

In [6]:
content = []
titles = []

for category in categories:
    title = category.find('strong')
    titles.append(title)
    content.append(category.find('a'))

In [7]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
type(tables)

list

In [9]:
df = tables[0]

In [10]:
df.columns = ['Mars', 'Measurements']
df

                   Mars                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
html_table = df.to_html()

In [12]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Measurements</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
type(html_table)

str

In [14]:
html_table = html_table.split(" ")
html_table

['<table',
 'border="1"',
 'class="dataframe">\n',
 '',
 '<thead>\n',
 '',
 '',
 '',
 '<tr',
 'style="text-align:',
 'right;">\n',
 '',
 '',
 '',
 '',
 '',
 '<th></th>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>Mars</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>Measurements</th>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '</thead>\n',
 '',
 '<tbody>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>0</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Equatorial',
 'Diameter:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6,792',
 'km</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>1</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Polar',
 'Diameter:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6,752',
 'km</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>2</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Mass:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6.39',
 '×',
 '10^23',
 'kg',
 '(0.11',
 'Earths)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>3</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Moons:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>2',
 '(Phobos',
 '&amp;',
 'Deimos)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>4</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Orbit',
 'Distance:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>227,943,824',
 'km',
 '(1.38',
 'AU)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>5</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Orbit',
 'Period:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>687',
 'days',
 '(1.9',
 'years)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>6</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Surface',
 'Temperature:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>-87',
 'to',
 '-5',
 '°C</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>7</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>First',
 'Record:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>2nd',
 'millennium',
 'BC</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>8</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Recorded',
 'By:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Egyptian',
 'astronomers</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '</tbody>\n</table>']

In [15]:
len(html_table)

302

In [16]:
html_table[0] + html_table[1] + html_table[2]

'<tableborder="1"class="dataframe">\n'

In [ ]:
## HERE

In [17]:
html_table[-1]

'</tbody>\n</table>'

In [18]:
html_end = html_table[-1].split("\n")
html_end

['</tbody>', '</table>']

In [19]:
html_end = html_end[0]
#type(html_end)

str

In [21]:
html_table = [html_table[i] for i in range(3,301)]

In [22]:
html_table

['',
 '<thead>\n',
 '',
 '',
 '',
 '<tr',
 'style="text-align:',
 'right;">\n',
 '',
 '',
 '',
 '',
 '',
 '<th></th>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>Mars</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>Measurements</th>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '</thead>\n',
 '',
 '<tbody>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>0</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Equatorial',
 'Diameter:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6,792',
 'km</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>1</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Polar',
 'Diameter:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6,752',
 'km</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>2</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Mass:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>6.39',
 '×',
 '10^23',
 'kg',
 '(0.11',
 'Earths)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>3</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Moons:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>2',
 '(Phobos',
 '&amp;',
 'Deimos)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>4</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Orbit',
 'Distance:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>227,943,824',
 'km',
 '(1.38',
 'AU)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>5</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Orbit',
 'Period:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>687',
 'days',
 '(1.9',
 'years)</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>6</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Surface',
 'Temperature:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>-87',
 'to',
 '-5',
 '°C</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>7</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>First',
 'Record:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>2nd',
 'millennium',
 'BC</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '',
 '',
 '',
 '<tr>\n',
 '',
 '',
 '',
 '',
 '',
 '<th>8</th>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Recorded',
 'By:</td>\n',
 '',
 '',
 '',
 '',
 '',
 '<td>Egyptian',
 'astronomers</td>\n',
 '',
 '',
 '',
 '</tr>\n',
 '']

In [27]:
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result

In [24]:
html_table = concatenate_list_data(html_table)
html_table = html_table + html_end
html_table

'<thead>\n<trstyle="text-align:right;">\n<th></th>\n<th>Mars</th>\n<th>Measurements</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<th>0</th>\n<td>EquatorialDiameter:</td>\n<td>6,792km</td>\n</tr>\n<tr>\n<th>1</th>\n<td>PolarDiameter:</td>\n<td>6,752km</td>\n</tr>\n<tr>\n<th>2</th>\n<td>Mass:</td>\n<td>6.39×10^23kg(0.11Earths)</td>\n</tr>\n<tr>\n<th>3</th>\n<td>Moons:</td>\n<td>2(Phobos&amp;Deimos)</td>\n</tr>\n<tr>\n<th>4</th>\n<td>OrbitDistance:</td>\n<td>227,943,824km(1.38AU)</td>\n</tr>\n<tr>\n<th>5</th>\n<td>OrbitPeriod:</td>\n<td>687days(1.9years)</td>\n</tr>\n<tr>\n<th>6</th>\n<td>SurfaceTemperature:</td>\n<td>-87to-5°C</td>\n</tr>\n<tr>\n<th>7</th>\n<td>FirstRecord:</td>\n<td>2ndmillenniumBC</td>\n</tr>\n<tr>\n<th>8</th>\n<td>RecordedBy:</td>\n<td>Egyptianastronomers</td>\n</tr>\n</tbody>'

In [25]:
html_table.replace('\n', '')

'<thead><trstyle="text-align:right;"><th></th><th>Mars</th><th>Measurements</th></tr></thead><tbody><tr><th>0</th><td>EquatorialDiameter:</td><td>6,792km</td></tr><tr><th>1</th><td>PolarDiameter:</td><td>6,752km</td></tr><tr><th>2</th><td>Mass:</td><td>6.39×10^23kg(0.11Earths)</td></tr><tr><th>3</th><td>Moons:</td><td>2(Phobos&amp;Deimos)</td></tr><tr><th>4</th><td>OrbitDistance:</td><td>227,943,824km(1.38AU)</td></tr><tr><th>5</th><td>OrbitPeriod:</td><td>687days(1.9years)</td></tr><tr><th>6</th><td>SurfaceTemperature:</td><td>-87to-5°C</td></tr><tr><th>7</th><td>FirstRecord:</td><td>2ndmillenniumBC</td></tr><tr><th>8</th><td>RecordedBy:</td><td>Egyptianastronomers</td></tr></tbody>'

In [26]:
df.to_html('table.html', index = False)

## Mars Hemispheres

In [131]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [132]:
html = browser.html
mars_hemispheres_soup = BeautifulSoup(html, 'html.parser')

## Create a loop here that will go through all of the 4 hemeispheres to grab the image

In [133]:
list_hemispheres = ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']
list_hemispheres

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [146]:
titles = []
imgs = []
a = []

In [147]:
for element in list_hemispheres:
        url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
        browser.visit(url)
        
        html = browser.html
        mars_hemispheres_soup = BeautifulSoup(html, 'html.parser')

        browser.click_link_by_partial_text(element)
        
        html = browser.html
        mars_hemispheres_soup = BeautifulSoup(html, 'html.parser')

        current_mars_hemisphere_title = mars_hemispheres_soup.find('h2', class_='title')
        current_mars_hemisphere_title = current_mars_hemisphere_title.get_text()
        current_mars_hemisphere_title = current_mars_hemisphere_title.split(" ")
        current_mars_hemisphere_title = current_mars_hemisphere_title[0] + " " + current_mars_hemisphere_title[1]
        
        ## current_mars_hemisphere_title ->
        titles.append(current_mars_hemisphere_title)

        current_mars_hemisphere_image = mars_hemispheres_soup.find('li')
        current_mars_hemisphere_image = str(current_mars_hemisphere_image.prettify())
        current_mars_hemisphere_image = current_mars_hemisphere_image.split(" ")
        current_mars_hemisphere_href = current_mars_hemisphere_image[2]
        current_mars_hemisphere_img = current_mars_hemisphere_href.split("=")
        current_mars_hemisphere_img = current_mars_hemisphere_img[1]
        jpg_range = len(current_mars_hemisphere_img)
        a.append(jpg_range)
        current_mars_hemisphere_img = [current_mars_hemisphere_img[i] for i in range(1, (jpg_range - 1))]
        current_mars_hemisphere_img = concatenate_list_data(current_mars_hemisphere_img)

        ## current_mars_hemisphere_href ->
        imgs.append(current_mars_hemisphere_img)

In [148]:
print(a)

[93, 97, 97, 101]

In [149]:
hemisphere_image_urls = []
hemisphere_dict = {}

In [150]:
for i in range(4):
    hemisphere_dict = {'title' : titles[i], 'img_url' : imgs[i]}
    hemisphere_image_urls.append(hemisphere_dict)
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [48]:
hemisphere_image_urls[0]["title"]

'Cerberus Hemisphere'

## This is one instance of the loop that will be copied

In [107]:
browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')

In [108]:
html = browser.html
mars_hemispheres_soup = BeautifulSoup(html, 'html.parser')

In [109]:
current_mars_hemisphere_title = mars_hemispheres_soup.find('h2', class_='title')
current_mars_hemisphere_title = current_mars_hemisphere_title.get_text()
current_mars_hemisphere_title = current_mars_hemisphere_title.split(" ")
current_mars_hemisphere_title = current_mars_hemisphere_title[0] + " " + current_mars_hemisphere_title[1]
print(current_mars_hemisphere_title)

Cerberus Hemisphere

In [110]:
current_mars_hemisphere_image = mars_hemispheres_soup.find('div', class_='wide-image-wrapper')
print(current_mars_hemisphere_image.prettify())

<div class="wide-image-wrapper" id="wide-image">
 <div class="downloads">
  <img class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/>
  <h3>
   Download
  </h3>
  <ul>
   <li>
    <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" target="_blank">
     Sample
    </a>
    (jpg) 1024px wide
   </li>
   <li>
    <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif" target="_blank">
     Original
    </a>
    (tif
    <span class="tooltip word-tif" title="">
    </span>
    ) 21 MB
   </li>
  </ul>
 </div>
 <img class="wide-image" src="/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"/>
 <a class="open-toggle" href="#open" id="wide-image-toggle">
  Open
 </a>
</div>

In [111]:
current_mars_hemisphere_image = mars_hemispheres_soup.find('div', class_='downloads')
print(current_mars_hemisphere_image.prettify())

<div class="downloads">
 <img class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/>
 <h3>
  Download
 </h3>
 <ul>
  <li>
   <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" target="_blank">
    Sample
   </a>
   (jpg) 1024px wide
  </li>
  <li>
   <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif" target="_blank">
    Original
   </a>
   (tif
   <span class="tooltip word-tif" title="">
   </span>
   ) 21 MB
  </li>
 </ul>
</div>

In [123]:
current_mars_hemisphere_image = mars_hemispheres_soup.find('li')
current_mars_hemisphere_image = str(current_mars_hemisphere_image.prettify())
print(current_mars_hemisphere_image)

<li>
 <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" target="_blank">
  Sample
 </a>
 (jpg) 1024px wide
</li>

In [124]:
current_mars_hemisphere_image = current_mars_hemisphere_image.split(" ")

In [125]:
current_mars_hemisphere_href = current_mars_hemisphere_image[2]
current_mars_hemisphere_href = current_mars_hemisphere_href.split("=")
current_mars_hemisphere_href = current_mars_hemisphere_href[1]

current_mars_hemisphere_href

'"http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"'

In [126]:
jpg_range = len(current_mars_hemisphere_href)

93

In [127]:
type(current_mars_hemisphere_href)

str

In [128]:
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result

In [129]:
current_mars_hemisphere_href = [current_mars_hemisphere_href[i] for i in range(1, 92)]

In [130]:
current_mars_hemisphere_href = concatenate_list_data(current_mars_hemisphere_href)
current_mars_hemisphere_href

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [83]:
current_mars_hemisphere_href[-1]

'"'

## Store in a dictionary

In [ ]:
hemisphere_image_urls = []
hemisphere_image_urls

In [ ]:
hemisphere_dict = {'title' : current_mars_hemisphere_title, 'img_url' : current_mars_hemisphere_href}
hemisphere_dict

In [ ]:
hemisphere_image_urls.append(hemisphere_dict)
hemisphere_image_urls

## Mars Dune Images

In [ ]:
url = 'https://www.usgs.gov/centers/astrogeology-science-center/science/mars-dunes?qt-science_center_objects=0#qt-science_center_objects'
browser.visit(url)

In [ ]:
html = browser.html
mars_hemispheres_soup = BeautifulSoup(html, 'html.parser')

In [ ]:
browser.click_link_by_partial_text('THEMIS')